[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask_jwt_extended = "*"
pymysql = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"